<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상세 페이지</title>

    <!--  font -->
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap" rel="stylesheet">

    <!--    JQuery -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>

    <!--    BootStrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap/bootstrap.js"></script>

</head>
<body>
    <div class="container">
        <h1>메인에서 카드 클릭시 들어와지는 상세 페이지</h1>
    </div>
</body>
</html>