<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>

    <!--  font -->
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap" rel="stylesheet">

    <!--    JQuery -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>

    <!--    BootStrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap/bootstrap.js"></script>

    <!--    Custom CSS -->
    <link rel="stylesheet" href="/static/css/loginForm.css">

    <script>
            // 간단한 회원가입 함수입니다.
            // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
            function register() {
                $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        id_give: $('#userid').val(),
                        pw_give: $('#userpw').val(),
                        nickname_give: $('#usernick').val()
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }
        </script>
</head>
<body>
<div class="container">
    <h1 class="alert alert-secondary">회원가입 페이지</h1>
    <div class="container" style="width: 50%">
        <div class="container-fluid">
            <div class="input-box">
                <input id="userid" type="text" name="userid" placeholder="아이디" required>
                <label for="userid">아이디</label>
            </div>
            <div class="input-box">
                <input id="userpw" type="password" name="userpw" placeholder="비밀번호" required>
                <label for="userpw">비밀번호</label>
            </div>
            <div class="input-box">
                <input id="checkpw" type="password" name="checkpw" placeholder="비밀번호 확인" required>
                <label for="checkpw">비밀번호 확인</label>
            </div>
            <div class="input-box">
                <input id="usernick" type="text" name="usernick" placeholder="닉네임" required>
                <label for="usernick">닉네임</label>
            </div>
            <button class="btn btn-primary" onclick="register()">회원가입</button>
        </div>
    </div>
</div>


<!--<div class="section has-text-centered">-->
<!--    <h1 class="title">회원가입 페이지</h1>-->
<!--    <div class="container" style="width:60%">-->
<!--        <div class="field is-horizontal">-->
<!--            <div class="field-label is-normal">-->
<!--                <label class="label" for="userid">ID</label>-->
<!--            </div>-->
<!--            <div class="field-body">-->
<!--                <div class="field">-->
<!--                    <div class="control">-->
<!--                        <input type="text" class="input" id="userid" aria-describedby="emailHelp"-->
<!--                               placeholder="My ID">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="field is-horizontal">-->
<!--            <div class="field-label is-normal">-->
<!--                <label class="label" for="userpw">PW</label>-->
<!--            </div>-->
<!--            <div class="field-body">-->
<!--                <div class="field">-->
<!--                    <div class="control">-->
<!--                        <input type="password" class="input" id="userpw" placeholder="My Password">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="field is-horizontal">-->
<!--            <div class="field-label is-normal">-->
<!--                <label class="label" for="usernick">NICKNAME</label>-->
<!--            </div>-->
<!--            <div class="field-body">-->
<!--                <div class="field">-->
<!--                    <div class="control">-->
<!--                        <input type="text" class="input" id="usernick" placeholder="My Nickname">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button class="button is-primary" onclick="register()">회원가입</button>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>